.classpath
.project
.settings
branches
client/.classpath
client/.project
client/.settings
client/target
client/wannatrak-client.iml
config/.classpath
config/.project
config/.settings
config/config.iml
device/.classpath
device/.project
device/.settings
device/target
device/wannatrak-device.iml
middleware/.classpath
middleware/.settings
middleware/.project
middleware/target
middleware/test-output
middleware/wannatrak-middleware.iml
mobile/.project
mobile/en/.project
mobile/en/.settings
mobile/en/target
mobile/en/wannatrak-mobile-en.iml
mobile/out
mobile/ru/.project
mobile/ru/.settings
mobile/ru/target
mobile/ru/wannatrak-mobile-ru.iml
mobile/.eclipseme
mobile/wannatrak-mobile.iml
out
target
test-output
wannatrak.iml
wannatrak.ipr
wannatrak.iws