<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2009 Andrey Khalzov, and individual contributors as indicated by the @author tag.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and limitations under the License.
  -->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

<!--
    <context-param>
        <param-name>resteasy.scan</param-name>
        <param-value>true</param-value>
    </context-param>
-->

    <context-param>
        <param-name>resteasy.servlet.mapping.prefix</param-name>
        <param-value>/api</param-value>
    </context-param>

    <context-param>
        <param-name>resteasy.guice.modules</param-name>
        <param-value>org.wannatrak.device.api.ApiModule</param-value>
    </context-param>

    <listener>
        <listener-class>
            org.jboss.resteasy.plugins.guice.GuiceResteasyBootstrapServletContextListener
        </listener-class>
    </listener>

    <servlet>
        <servlet-name>Resteasy</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Resteasy</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Post Servlet</servlet-name>
        <servlet-class>org.wannatrak.device.PostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Post Servlet</servlet-name>
        <url-pattern>/post/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Login Servlet</servlet-name>
        <servlet-class>org.wannatrak.device.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login Servlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Logout Servlet</servlet-name>
        <servlet-class>org.wannatrak.device.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout Servlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Save Settings Servlet</servlet-name>
        <servlet-class>org.wannatrak.device.SaveSettingsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Save Settings Servlet</servlet-name>
        <url-pattern>/settings/save</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Link Subject Servlet</servlet-name>
        <servlet-class>org.wannatrak.device.LinkSubjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Link Subject Servlet</servlet-name>
        <url-pattern>/subjects/link</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Unlink Subject Servlet</servlet-name>
        <servlet-class>org.wannatrak.device.UnlinkSubjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Unlink Subject Servlet</servlet-name>
        <url-pattern>/subjects/unlink</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>List Subjects Servlet</servlet-name>
        <servlet-class>org.wannatrak.device.ListSubjectsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>List Subjects Servlet</servlet-name>
        <url-pattern>/subjects/list</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Create Subject Servlet</servlet-name>
        <servlet-class>org.wannatrak.device.CreateSubjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Create Subject Servlet</servlet-name>
        <url-pattern>/subjects/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Debug Servlet</servlet-name>
        <servlet-class>org.wannatrak.device.DebugServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Debug Servlet</servlet-name>
        <url-pattern>/debug/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Sms Servlet</servlet-name>
        <servlet-class>org.wannatrak.device.SmsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sms Servlet</servlet-name>
        <url-pattern>/sms/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>
</web-app>
